.product img{
    width: 286px;
    height: 286px;
    
    border-radius: 8px;
    margin: 7px;
}
.product{
    width: 300px;
    height: 510px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    padding: 7px;
    position: relative;
}

.product-name{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.0015em;
    margin-top: 7px;
}
.product-info{
    margin: 0 5px;
    
}
.product-info p{
    margin-bottom: 0px;
    margin-top: 5px;
}
.btn-cart{
    width: 100%;
    background-color: #FFE0B3;
    border: 1px solid #95A0A7;
    box-sizing: border-box;
    border-radius: 0px 0px 8px 8px;
    border: 0;
    position: absolute;
    bottom: 0   ;
    height: 50px;
    left: 0;
    cursor: pointer;
    
}
.btn-cart:hover{
    color: peru;
}